In [2]:
import scipy.stats as stats
from src.use_this import use_this_df
import pandas as pd

def mann_whitney_test_lvl(level=2):
    samples = []
    for i in range(2, 12):
        samples.append(df[df['Level'] == i]['Modifier'])

    p_vals = []
    for i in range(0, 10):
        res = stats.mannwhitneyu(samples[level-2], samples[i], alternative='greater').pvalue.round(3)
        p_vals.append(res)
    return p_vals

In [3]:
df = use_this_df()
data = [mann_whitney_test_lvl(x) for x in range(2,12)]
df_pval = pd.DataFrame(data, index=range(2,12), columns=range(2,12))
df_pval

        2     3      4      5      6      7      8      9     10     11
2   0.500  0.57  0.623  1.000  1.000  1.000  1.000  1.000  1.000  1.000
3   0.430  0.50  0.580  1.000  1.000  1.000  1.000  1.000  1.000  1.000
4   0.377  0.42  0.500  1.000  1.000  1.000  1.000  1.000  1.000  1.000
5   0.000  0.00  0.000  0.500  0.979  0.986  1.000  1.000  1.000  1.000
6   0.000  0.00  0.000  0.021  0.500  0.642  0.994  1.000  1.000  1.000
7   0.000  0.00  0.000  0.014  0.358  0.500  0.972  1.000  1.000  1.000
8   0.000  0.00  0.000  0.000  0.006  0.028  0.500  1.000  1.000  1.000
9   0.000  0.00  0.000  0.000  0.000  0.000  0.000  0.500  0.998  0.842
10  0.000  0.00  0.000  0.000  0.000  0.000  0.000  0.002  0.500  0.089
11  0.000  0.00  0.000  0.000  0.000  0.000  0.000  0.158  0.911  0.500